# Node modules (huge & unnecessary to push)
node_modules/

# Environment variables (NEVER push secrets)
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# IDE/Editor folders
.vscode/
.idea/

